<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Watchlist | Add</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/adminNav.ejs') %>
    <div class="container">
        <form action="/add-new" method="POST" class="add-new-form"></form>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/script.js"></script>
</body>
</html>