<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Watchlist | Add</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/adminNav.ejs') %>
    <div class="container">
      <form action="/add-new" method="POST" class="add-new-form">
        <!--
         <label for="image"></label>
         <input type="file" name="" id=""> 
            -->
         <label for="title"><b>Title: </b></label>
         <input type="text" name="title" id="title" placeholder="Enter the title">
         <label for="genre"><b>Genre: </b></label>
         <input type="text" name="genre" id="genre" placeholder="Enter the genre">
         <label for="rating"><b>Rating: </b></label>
         <input type="text" name="rating" id="rating" placeholder="eg. 5.0/10">
         <label for="status"><b>Status: </b></label>
         <select name="status" id="status">
            <option value="watched">Watched</option>
            <option value="watching">Currently Watching</option>
            <option value="pending">Pending</option>
         </select>
         <fieldset>
            <legend id="description">Description</legend> 
            <textarea name="description" id="description" cols="30" rows="5"></textarea>
         </fieldset>
        
      </form>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/script.js"></script>
  </body>
</html>
