<div class="container">
    <nav class="nav">
      <div class="logo">
        <a href="/">Movie WatchList | Admin</a>
      </div>
      <ul class="nav-ul">
        <!-- <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li> -->
      </ul>
      <div class="left-btns">
        <button class="btn">
          <a href="/logout">Logout</a>
        </button>
        <button class="btn">
          Search <img class="search-img" src="/images/search.png" alt="" />
        </button>
      </div>
    </nav>
  </div>
  