<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Watchlist | About</title>
</head>
<body>
    <div>
      <h2> Movie Watchlist</h2> 
      <p>Description: Create a movie watchlist app that allows users to add movies they want to watch, have watched, or are currently watching. They can include details like ratings, genres, and reviews.</p>
      <p>CRUD Operations:</p>
      <ul>
        <li>Create: Add movies to the watchlist.</li>
        <li>Read: View movies and their details.</li>
        <li>Update: Update movie status (watched, not watched) or edit reviews.</li>
        <li>Delete: Remove movies from the watchlist.</li>
      </ul>
    </div>
</body>
</html>